.section-destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.wrapper-slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*flex-wrap: wrap;*/
  gap: 60px;

  padding-top: 46px;
}

.slide1 {
  background-image: url("../assets/img/Spain.jpg");
  height: 800px;
  width: 260px;
}

.slide2 {
  background-image: url("../assets/img/Japan.jpg");
  height: 800px;
  width: 800px;
  display: flex;
  align-items: flex-end;
}

.slide3 {
  background-image: url("../assets/img/USA.jpg");
  height: 800px;
  width: 260px;
  display: flex;
  align-items: flex-end;
}

.controls {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ellipse {
  width: 20px;
  height: 20px;

  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
}

.ellipse.ellipse-active {
  width: 20px;
  height: 20px;

  background: #f2785c;
}

.button-destinations {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 228px;
  height: 59px;
}

.find-more {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.arrow {
  width: 35px;
  height: 22.5px;
  background-image: url("../assets/svg/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.name-slide {
  font-family: "Red Hat Text";
  font-style: medium;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 40px;
  margin-left: 15px;
  margin-bottom: 40px;
  margin-left: 15px;
}

.name-slide-390px {
  display: none;
}

.controls-390px {
  display: none;
}

.arrows-slider {
  display: none;
}

@media screen and (max-width: 390px) {
  .section-destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .wrapper-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;

    padding-top: 20px;
  }

  .slide1 {
    background-image: url("../assets/img/Spain_390.jpg");
    height: 210px;
    width: 360px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .slide2 {
    background-image: url("../assets/img/Japan.jpg");
    height: 800px;
    width: 800px;
    display: none;
    align-items: flex-end;
  }

  .slide3 {
    background-image: url("../assets/img/USA.jpg");
    height: 800px;
    width: 260px;
    display: none;
    align-items: flex-end;
  }

  .controls {
    margin-top: 24px;
    display: none;
    justify-content: center;
    gap: 10px;
  }

  .ellipse {
    width: 8px;
    height: 8px;

    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
  }

  .ellipse.ellipse-active {
    width: 8px;
    height: 8px;
    order: -1;

    background: #f2785c;
  }

  .button-destinations {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 92px;
    height: 30px;
  }

  .find-more {
    font-size: 11px;
    line-height: 15px;
  }

  .arrow {
    width: 8.75px;
    height: 5.63px;
    background-image: url("../assets/svg/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .name-slide {
    font-family: "Red Hat Text";
    font-style: medium;
    font-size: 32px;
    line-height: 42px;
    color: #ffffff;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }

  .name-slide-390px {
    display: block;
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    color: #ffffff;
    margin-top: 8px;
    margin-left: 15px;
  }

  .controls-390px {
    display: block;
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 12px;
  }

  .arrows-slider {
    display: flex;
    justify-content: space-between;
    padding-left: 11.27px;
    padding-right: 11.27px;
  }

  .arrow-left-slide {
    width: 14.36px;
    height: 24.94px;
    background-image: url("../assets/svg/arrow-slide-left.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .arrow-right-slide {
    width: 14.36px;
    height: 24.94px;
    background-image: url("../assets/svg/arrow-slide-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
